In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
arsenal = pd.read_csv('../data/Arsenal managers - Sheet1.csv')
chelsea = pd.read_csv("../data/Chelsea - Sheet1.csv")
city = pd.read_csv("../data/Man city managers - Sheet1.csv")
united = pd.read_csv("../data/Man United - Sheet1.csv")

arsenal

,Name/Date of birth,Appointed,End of time in post,Time in post,Matches,W,D,L,PPG
0,Mikel Arteta,22/12/2019,NaN,06 years 18 days,319,196,54,69,2.01
1,Unai Emery,01/07/2018,29/11/2019,01 year 04 months 29 days,78,43,15,20,1.85
2,Arsène Wenger,01/10/1996,30/06/2018,21 years 08 months 30 days,1234,715,267,252,1.95

In [9]:
chelsea.head()

,Name/Date of birth,Appointed,End of time in post,Time in post,Matches,W,D,L,PPG
0,Liam Rosenior,08/01/2026,NaN,01 day,0,-,-,-,-
1,Calum McFarlane,01/01/2026,07/01/2026,06 days,2,-,1,1,0.5
2,Enzo Maresca,01/07/2024,01/01/2026,01 year 06 months 01 day,92,55,16,21,1.97
3,Mauricio Pochettino,01/07/2023,30/06/2024,11 months 30 days,51,27,10,14,1.78
4,Frank Lampard,06/04/2023,30/06/2023,02 months 24 days,11,1,2,8,0.45

In [7]:
city

,Name/Date of birth,Appointed,End of time in post,Time in post,Matches,W,D,L,PPG
0,Pep Guardiola 18/01/1971,01/07/2016,NaN,09 years 06 months 09 days,563,403,72,88,2.28

In [8]:
united

,Name/Date of birth,Appointed,End of time in post,Time in post,Matches,W,D,L,PPG
0,Darren Fletcher,05/01/2026,NaN,04 days,1,-,1,-,1.00
1,Rúben Amorim,11/11/2024,05/01/2026,01 year 01 month 25 days,63,25,15,23,1.43
2,Ruud van Nistelrooy,28/10/2024,11/11/2024,14 days,4,3,1,-,2.50
3,Erik ten Hag,01/07/2022,28/10/2024,02 years 03 months 27 days,128,72,20,36,1.84
4,Ralf Rangnick,03/12/2021,31/05/2022,05 months 28 days,29,11,9,9,1.45
5,Michael Carrick,21/11/2021,03/12/2021,12 days,3,2,1,-,2.33
6,Ole Gunnar Solskjaer,28/03/2019,21/11/2021,02 years 07 months 24 days,149,78,33,38,1.79
7,Ole Gunnar Solskjaer,19/12/2018,28/03/2019,03 months 09 days,19,14,2,3,2.32
8,José Mourinho,01/07/2016,18/12/2018,02 years 05 months 17 days,144,84,31,29,1.97
9,Louis van Gaal,14/07/2014,23/05/2016,01 year 10 months 09 days,103,54,24,25,1.81

In [12]:
# Rename the first column to 'Name' for all dataframes
arsenal.rename(columns={'Name/Date of birth': 'Name'}, inplace=True)
city.rename(columns={'Name/Date of birth': 'Name'}, inplace=True)
chelsea.rename(columns={'Name/Date of birth': 'Name'}, inplace=True)
united.rename(columns={'Name/Date of birth': 'Name'}, inplace=True)

In [15]:
# Get current managers (index 0)
pep_tenure = city.iloc[0]['Time in post']
arteta_tenure = arsenal.iloc[0]['Time in post']

print(f"Pep: {pep_tenure}")
print(f"Arteta: {arteta_tenure}")
print("\n")

# Chelsea recent (top 6)
print("CHELSEA RECENT MANAGERS:")
for i in range(6):
    print(f"{chelsea.iloc[i]['Name']}: {chelsea.iloc[i]['Time in post']}")
print("\n")

# Man United post-2013 (let's see first 10)
print("MAN UTD POST-2013:")
for i in range(10):
    print(f"{united.iloc[i]['Name']}: {united.iloc[i]['Time in post']}")

Pep: 09 years 06 months 09 days
Arteta: 06 years 18 days


CHELSEA RECENT MANAGERS:
Liam Rosenior : 01 day
Calum McFarlane : 06 days
Enzo Maresca: 01 year 06 months 01 day
Mauricio Pochettino: 11 months 30 days
Frank Lampard: 02 months 24 days
Bruno Saltor: 02 days


MAN UTD POST-2013:
Darren Fletcher: 04 days
Rúben Amorim: 01 year 01 month 25 days
Ruud van Nistelrooy: 14 days
Erik ten Hag: 02 years 03 months 27 days
Ralf Rangnick: 05 months 28 days
Michael Carrick: 12 days
Ole Gunnar Solskjaer: 02 years 07 months 24 days
Ole Gunnar Solskjaer: 03 months 09 days
José Mourinho: 02 years 05 months 17 days
Louis van Gaal: 01 year 10 months 09 days

In [18]:
# For Chelsea - exclude very short tenures (under 1 month = interim) and Rosenior becasue he just got in
# Skip 1 (McFarlane), 4 (Lampard), 5 (Saltor)
chelsea_permanent = [2, 3]  # Rosenior, Maresca, Pochettino

print("CHELSEA PERMANENT:")
for i in chelsea_permanent:
    print(f"{chelsea.iloc[i]['Name']}: {chelsea.iloc[i]['Time in post']}")
print("\n")

# For Man United - exclude very short tenures
# 0 (Fletcher), 2 (van Nistelrooy), 4 (Rangnick), 5 (Carrick)
united_permanent = [1, 3, 6, 8, 9]  # Amorim, Ten Hag, Solskjaer, Mourinho, Van Gaal

print("MAN UTD PERMANENT:")
for i in united_permanent:
    print(f"{united.iloc[i]['Name']}: {united.iloc[i]['Time in post']}")

CHELSEA PERMANENT:
Enzo Maresca: 01 year 06 months 01 day
Mauricio Pochettino: 11 months 30 days


MAN UTD PERMANENT:
Rúben Amorim: 01 year 01 month 25 days
Erik ten Hag: 02 years 03 months 27 days
Ole Gunnar Solskjaer: 02 years 07 months 24 days
José Mourinho: 02 years 05 months 17 days
Louis van Gaal: 01 year 10 months 09 days